@import "../../../../../assets/style/colors.less";
@import "../../../../../assets/style/screen-size.less";

.bar-chart {
    @media (min-width: @screen-md) and (max-width: @screen-md-max) {
        width: 90%;
    }

    width: 80%;
    max-width: 432px;
    height: 330px;
    margin: 0 auto;

    .axis path,
    .axis line {
        stroke: none;
    }

    .axis text {
        fill: @text-color;
    }
}

.mainBar {
    &:hover {
        fill: @bar-hover-color;
        cursor: pointer;
    }
}

.tool1 {
    background: @toolTip-background;
    color: @primary-color-inverted;
    display: none;
    font-size: 14px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 100px;
    z-index: 10;

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: @toolTip-background transparent transparent transparent;
    }
}
