@import "../../../../../assets/style/colors.less";

.course-progress {
    min-height: 330px;
    background-color: @primary-color-inverted;
    box-shadow: 1px 1px 3px 0 @box-shadow;
    padding: 15px;
    color: @title-color;

    .progress-info {
        font-size: 11px;
        padding-bottom: 10px;

        .intro {
            font-size: 13px;
        }
    }

    .progress-detail {
        font-size: 11px;

        span {
            margin: 0 15px;
        }
    }
}
