<ng-container *ngIf="!isLoading">
    <div class="course-progress">
        <ng-container *ngIf="!errorOccurred">
            <div class="progress-info clearfix">
                <div class="pull-right">
                    <span>Overdue: {{overdue}}</span>
                    <div *ngIf="overdue >= 5" class="alert-tooltip">
                        <span class="size-12"><i class="icon ion-alert-circled icon-red"></i></span>
                        <span class="info-text tipArrow-top">Student at risk with 5+ overdue assignments.</span>
                    </div>
                </div>
                <span class="pull-left text-left ">
                    <div class="intro"><b>Course Progress</b></div>
                    <div><b>Course End Date: </b> {{courseEndDate}}</div>
                </span>
            </div>
            <gl-radial-score [size]="'14em'" [color]="'#2F9DFF'" [progress]="progress" [hideFloat]="true">
            </gl-radial-score>
            <div class="text-center progress-detail">
                <span>Total Assignments: <b>{{totalAssignment}}</b></span>
                <span>Completed: <b>{{totalAssignmentCompleted}}</b></span>
            </div>
        </ng-container>
        <ng-container *ngIf="errorOccurred">
            <gl-data-error errorText="Data Error - Unable to show course progress" *ngIf="errorOccurred"></gl-data-error>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <gl-loading></gl-loading>
</ng-container>