@import "../../../../../assets/style/colors.less";

.loader-table {
    width: 100%;
    display: table;
    height: 330px;

    .loader-cell {
        display: table-cell;
        vertical-align: middle;

        .loader {
            width: 69px;
            height: 69px;
            border-radius: 100%;
            position: relative;
            margin: 0 auto;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                border: 6px solid transparent;
                border-top-color: @loading-main-color;
            }

            &:before {
                z-index: 100;
                animation: spin 1s infinite;
            }

            &:after {
                border: 6px solid @loading-background-color;
            }
        }
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
