// Custom Colors
@white: #ffffff;
@black: #000;
@base: #747474;
@grey: #4a4a4a;
@blue: #1ad4f6;
@progess-blue: #3EA9FF;

// Components
@primary-color: @grey;
@primary-color-inverted: @white;


//**************************//
//color
//**************************//
// Text
@title-color: @primary-color;
@text-color: lighten(@primary-color, 16.5%);

// Bar
@bar-color: @blue;
@bar-hover-color: darken(@blue, 25%);

// Student BreakDown
@table-text-color: lighten(@primary-color, 16.5%);
@total-search-color: lighten(@primary-color, 31.7%);
@search-placeholder: lighten(@primary-color, 52%);
@detail-color: lighten(@primary-color, 17.5%);

//Buttons
@button-color: lighten(@primary-color, 31.7%);
@button-hover-color: lighten(@primary-color, 53.7%);

// Refresh
@refresh-color: lighten(@primary-color, 36.5%);

//detail page
@time-box-text-color: lighten(@primary-color, 10%);

//Icon
@info-icon-color: lighten(@primary-color, 19%);

//Error
@error-msg-color: lighten(@primary-color, 19%);

//Loading
@loading-main-color: @progess-blue;
@loading-background-color: fade(rgb(177,185,194), 50%);

//Box-shadow
@box-shadow: fade(@black, 13%);


//***************************//
// Border color
//**************************//
// Title 
@title-border-color : lighten(@primary-color, 51%);
@breakdown-border-top : lighten(@primary-color, 55%);
@breakdown-border-bottom : lighten(@primary-color, 60%);

//Button
@button-border-color: lighten(@primary-color, 55%);

//student-detail page
@popup-border-color: darken(@primary-color-inverted, 10%);
@detail-bar-border: darken(@primary-color-inverted, 7%);
@detail-button-border: darken(@primary-color-inverted, 11%);
@scoring-bottom-border: lighten(@primary-color, 54.5%);
@scoring-split-border: lighten(@primary-color, 61%);
@time-box-border: lighten(@primary-color, 30%);


//**************************//
//Background color
//**************************//
// Overlay & tooltip
@overlay-background: fade(@black, 55%);
@toolTip-background: fade(@black, 50%);

//button
@button-background: darken(@primary-color-inverted, 2.5%);

//BreakDown
@breakdown-progrss-main-background: @progess-blue;
@breakdown-progrss-background: lighten(@primary-color, 65%);


//Detail page
@detail-background: darken(@primary-color-inverted, 3%);
@detail-header-background: darken(@primary-color-inverted, 5%);
@time-box-background: lighten(@primary-color, 5%);