@import "../../../../../assets/style/colors.less";
@import "../../../../../assets/style/screen-size.less";

.score {
    background-color: @primary-color-inverted;
    box-shadow: 1px 1px 3px 0 @box-shadow;
    margin-bottom: 10px;
    padding: 15px;
    color: @title-color;

    .heading {
        font-family: Helvetica;
        font-size: 12px;
        font-weight: bold;
        border-bottom: 1px solid @scoring-bottom-border;
        margin-bottom: 20px;
    }

    .radial-score {
        @media only screen and (min-width: @screen-md) {
            border-right: 1px solid @scoring-split-border;
            padding-right: 5%;
        }

        .relative-score {
            padding: 20px 20px 0 0;
        }
    }

    i.icon {
        color: @info-icon-color;
    }
}
