<div class="score clearfix">
    <div class="heading">
        <p>Scoring</p>
    </div>
    <div class="col-sm-12 col-md-7 radial-score">
        <ng-container *ngIf="!isLoading">
            <ng-container *ngIf="!errorOccurred">
                <div class="col-sm-7 col-md-7 current-score">
                    <gl-radial-score [size]="'14em'" [color]="'#1AD4F6'" [progress]="currentScore">
                    </gl-radial-score>
                    <div class="text-center">
                        <span>Current Score</span>
                        <div class="info-tooltip" (click)="void(0)" id="tourStep11">
                            <span class="size-12"><i class="icon ion-ios-information"></i></span>
                            <span class="info-text tipArrow-top">The student’s score based on all assignments that have been graded for the course to date.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 relative-score">
                    <gl-radial-score [size]="'11em'" [color]="'#5EC8D7'" [progress]="relativeScore">
                    </gl-radial-score>
                    <div class="text-center">
                        <span>Relative Score</span>
                        <div class="info-tooltip" (click)="void(0)">
                            <span class="size-12"><i class="icon ion-ios-information"></i></span>
                            <span class="info-text tipArrow-top">Estimated score the student would receive if he/she stopped working in the course today and received 0% for all unfinished assignments.</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="errorOccurred">
                <gl-data-error errorText="Data Error - Unable to show score" *ngIf="errorOccurred"></gl-data-error>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="isLoading">
            <gl-loading></gl-loading>
        </ng-container>
    </div>
    <div class="col-sm-12 col-md-5 score-by-type">
        <gl-score-by-type [studentId]="studentId" [subjectId]="subjectId" [teacherId]="teacherId"></gl-score-by-type>
    </div>
</div>

