<table class="table table-striped">
    <thead>
        <tr>
            <th class="alert-col"></th>
            <th scope="col">
                <a class="sort-by">
                    <span title="Ascending" class="up" (click)="sort('lastName', 'ASC')"></span>
                    <span title="Down" class="down" (click)="sort('lastName', 'DESC')"></span> Student
                </a>
            </th>
            <th scope="col">
                <a class="sort-by">
                    <span title="Ascending" class="up" (click)="sort('subject', 'ASC')"></span>
                    <span title="Descending" class="down" (click)="sort('subject', 'DESC')"></span> Course
                </a>
            </th>
            <th scope="col" class="text-center" id="tourStep6">
                <a class="sort-by">
                    <span title="Ascending" class="up" (click)="sort('currentScore', 'ASC')"></span>
                    <span title="Descending" class="down" (click)="sort('currentScore', 'DESC')"></span> Current Score
                </a>
            </th>
            <th scope="col" class="text-center">
                <a class="sort-by">
                    <span title="Ascending" class="up" (click)="sort('overdue', 'ASC')"></span>
                    <span title="Descending" class="down" (click)="sort('overdue', 'DESC')"></span> Overdue
                </a>
            </th>
            <th scope="col">
                <a class="sort-by">
                    <span title="Ascending" class="up" (click)="sort('courseProgress', 'ASC')"></span>
                    <span title="Descending" class="down" (click)="sort('courseProgress', 'DESC')"></span> Course Progress
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody (scroll)="scroll()" #tbody>
        <tr *ngFor="let student of studentRecords">
            <td class="alert">
                <div *ngIf="student.overdue >=5" class="alert-tooltip">
                    <span class="size-14"><i class="icon ion-alert-circled icon-red"></i></span>
                    <span class="info-text tipArrow-left">Student at risk with 5+ overdue assignments.</span>
                </div>
            </td>
            <td>{{student.name}}</td>
            <td class="subject">
                <div class="alert-tooltip">
                    {{student.subject.length > 21?student.subject.substring(0,20)+'...' : student.subject}}
                    <span class="info-text tipArrow-left">{{student.subject}}</span>
                </div>
            </td>
            <td class="text-center">{{student.currentScore}}%</td>
            <td class="text-center">{{student.overdue}}</td>
            <td>
                <div class="course-progress">
                    <span class="progress">
                        <span class="progress-bar" role="progressbar" attr.aria-valuenow="{{student.courseProgress}}" aria-valuemin="0" aria-valuemax="100" [style.width]="student.courseProgress+ '%'">
                        </span>
                    </span>
                    <span class="progress-text">{{student.courseProgress}}%</span>
                </div>
            </td>
            <td class="text-center" id="tourStep8"><button class="btn btn-default" (click)="detail(student.studentid, student.subject, student.teacherid, student.teacherName)">Details</button></td>
        </tr>
        <tr *ngIf="studentRecords.length === 0">
            <td class="norecords" colspan="6"> No records! </td>
        </tr>
    </tbody>
</table>
<img class="loader" *ngIf="isLoading" src="../../../assets/images/loading.svg" alt="loading" width=25 height=25 />
