@import "../../../../../assets/style/colors.less";
@import "../../../../../assets/style/screen-size.less";

table {
    display: block;
    font-family: Helvetica;
    color: @table-text-color;
    font-size: 12px;
    position: relative;
    height: 250px;

    tr {
        width: 100%;
        display: inline-table;
        table-layout: fixed;

        th {
            border-bottom: none;
            height: 45px;
            vertical-align: middle;
        }

        th.alert-col,
        td.alert {
            width: 20px;

            .alert-tooltip .info-text {
                top: -85%;
                margin-left: 20px;
            }
        }

        td.subject {
            .alert-tooltip .info-text {
                top: -85%;
                margin-left: 80px;
            }
        }
    }

    th a.sort-by {
        padding-right: 18px;
        position: relative;
        color: @table-text-color;

        &:link, &:visited, &:hover, &:active {
            color: @table-text-color;
            text-decoration: none;
        }

        span {
            &:hover {
                cursor: pointer;
            }

            &:before, &:after {
                border: 4px solid transparent;
                content: "";
                display: block;
                height: 0;
                right: 0;
                top: 50%;
                position: absolute;
                width: 0;
            }
        }
    }

    th a.sort-by span.up {
        &:before {
            border-bottom-color: @table-text-color;
            margin-top: -9px;
        }
    }

    th a.sort-by span.down {
        &:after {
            border-top-color: @table-text-color;
            margin-top: 1px;
        }
    }

    tbody {
        overflow-y: auto;
        height: 210px;
        width: 100%;
        position: absolute;

        tr {
            height: 40px;

            td {
                vertical-align: middle;
                border: none;

                .course-progress {
                    overflow: auto;

                    .progress {
                        margin-bottom: 0;
                        width: 70%;

                        @media (max-width: @screen-sm-max) {
                            width: 65%;
                        }

                        background-color: @breakdown-progrss-background;
                        float: left;

                        .progress-bar {
                            background-color: @breakdown-progrss-main-background;
                        }
                    }

                    .progress-text {
                        margin-left: 5px;
                    }
                }

                button.btn {
                    font-size: 11px;
                    color: @detail-color;
                    padding: 4px 16px;
                    background-color: @button-background;
                    border-radius: 2px;
                    border: 1px solid @button-border-color;

                    &:hover {
                        background-color: darken(@button-background, 5%);
                    }
                }

                &.norecords {
                    background-color:@primary-color-inverted;
                    width:70%;
                    border-top: 0;
                    border-top: 0;
                    padding-left: 30px;
                    padding-top: 15px;
                }
            }
        }
    }
}

.loader {
    width: 100%;
}