@import "../../../../../assets/style/colors.less";

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {  
    background-color:  @button-hover-color;
}

.breakdown-filter {
    margin-top: 30px;

    .filter {
        color: @total-search-color;
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid @breakdown-border-bottom;
        border-top: 1px solid @breakdown-border-top;

        span i.icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        .text-filter > span b {
            color: @title-color;
            font-size: 13px;
        }

        .total-student {
            margin-left: 5px;
        }

        .search-bar {
            position: relative;
            display: inline-block;
            margin: 0 5px 0 25px;

            #search {
                font-size: 12px;
                display: inline-block;
                width: auto;
                height: 28px;
                padding: 3px 5px 3px 25px;

                &::-webkit-input-placeholder { //place holder color change
                    color: @search-placeholder;
                }

                &::-ms-clear { //ie clear X removed
                    display: none;
                }
            }

            .icon {
                position: absolute;
                top: 6px;
                left: 10px;
            }
        }

        .link-group .btn {
            padding: 2px 12px;
            font-size: 11px;
            color: @button-color;
            font-weight: bold;
            height: 28px;
            background-color: @button-background;
            border-radius: 2px;
            border: 1px solid @button-border-color;

            &:hover {
                background-color: darken(@button-background, 5%);
            }

            &.export {
                margin-left: 8px;
            }
        }
    }
}
