<div class="student-breakdown">
    <div class="breakdown-filter">
        <div class="filter clearfix">
            <span class="text-filter">
                <span><b>Student Breakdown</b></span>
                <span class="total-student">{{totalStudent | pluralize : 'Result' : 's'}}</span>
                <span class="search-bar" id="tourStep5">
                    <input type="text" placeholder="Search" class="form-control" id="search" [(ngModel)]="filter.student" (ngModelChange)="getResultByStudent()">
                    <label for="search" class="icon ion-ios-search size-14" rel="tooltip" title="search"></label>
                </span>
                <span *ngIf="filter.student" class="size-14" id="clearFilter"><i class="icon ion-ios-close-outline" (click)="clearFilter(true)"></i></span>
            </span>
            <span class="pull-right link-group">
                <span *ngIf="filter.student || filter.overdue || filter.score || activeTour" id="tourStep4">
                    <button class="btn btn-default" (click)="clearFilter(false)">
                        <span class="size-14"><i class="icon ion-ios-close-outline"></i></span>Clear Filter
                    </button>
                </span>
                <span class="dropdown" id="tourStep7">
                    <button class="btn btn-default export dropdown-toggle" type="button" data-toggle="dropdown"><span class="size-14"><i class="icon ion-archive"></i></span>Export</button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" (click)="pdfDownload()">PDF</a></li>
                        <li><a href="javascript:void(0);" (click)="getCSV()">CSV</a></li>
                    </ul>
                </span>
            </span>
        </div>
        <div class="breakdown">
            <ng-container *ngIf="!isLoading">
                <ng-container *ngIf="!errorOccurred">
                    <gl-table #table [studentRecords]="studentRecords" [totalPage]="totalPage" (onSort)="sort($event)" (onScroll)="getDataOnScroll($event)"></gl-table>
                </ng-container>
                <ng-container *ngIf="errorOccurred">
                    <gl-data-error errorText="Data Error - Unable to show statistics for this data chart" *ngIf="errorOccurred"></gl-data-error>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <gl-loading></gl-loading>
            </ng-container>
        </div>
    </div>
</div>