<div class="set-size charts-container" [ngStyle]="{ 'font-size': size }">
    <div class="pie-wrapper">
        <div class="shadow"></div>
        <span class="label">{{progressInt}}<span class="smaller"><ng-container *ngIf="!hideFloat">.{{progressfloat}}</ng-container>%</span></span>
        <div *ngIf="progress > 50" class="pie">
            <div class="left-side half-circle" [ngStyle]="{ 'border-color': color, 'transform' : 'rotate(' + progress *3.6 + 'deg)'}"></div>
            <div class="right-side half-circle" [ngStyle]="{ 'border-color': color, 'transform': 'rotate(180deg)' }"></div>
        </div>
        <div *ngIf="progress <= 50" class="pie">
            <div class="right-side half-circle" [ngStyle]="{'z-index':100, 'border': '0.1em solid #eaeef2'}"></div>
            <div class="left-side half-circle" [ngStyle]="{ 'border': '0.095em solid' + color, 'transform' : 'rotate(' + progress *3.6 + 'deg)'}"></div>
        </div>
    </div>
</div>