@import "../../../../../assets/style/colors.less";

@bg: #34495e;
@size: 1em;

.size(@w, @h) {
    height: @h;
    width: @w;
}

.set-size {
    font-size: 15em;
}

.pie-wrapper {
    .size(@size, @size);
    margin: 15px auto;
    position: relative;

    .pie {
        .size(100%, 100%);
        /*clip: rect(0, @size, @size, @size / 2);*/
        left: 0;
        position: absolute;
        top: 0;

        .half-circle {
            .size(100%, 100%);
            border: @size / 10 solid #3498db;
            border-radius: 100px;
            clip: rect(0, @size / 2, @size, 0);
            left: 0;
            position: absolute;
            top: 0;
        }
    }

    .label {
        @font-size: @size / 4;
        @font-size-redo: @size * 4;

        display: block;
        font-size: @font-size;
        left: @font-size-redo / 10;
        line-height: @font-size-redo * .65;
        position: absolute;
        right: @font-size-redo / 10;
        text-align: center;
        top: @font-size-redo / 10;
        color: @title-color;
        font-family: Helvetica;

        .smaller {
            font-size: .3em;
            vertical-align: super;
            position: relative;
            top: -0.3em;
        }
    }

    .shadow {
        .size(100%, 100%);
        border: @size / 10 solid rgba(53,92,131,0.1);
        border-radius: 100px;
    }
}
