<ng-container *ngIf="!isLoading">
    <div class="text-center sbt" id="tourStep12">
        <div>Score by Type</div>
        <ng-container *ngIf="!errorOccurred">
            <div class="sbt-container">
                <ng-container *ngFor="let d of scoreType">
                    <div class="sbt-category color-{{d.color}}">
                        <div class="card-popup" (click)="void(0)">
                            <div class="sbt-table">
                                <div class="sbt-label">
                                    {{d.label}}
                                </div>
                            </div>
                            <span class="popup-text tipArrow-bottom">
                                <span class="card-label">
                                    <span class="name">{{d.label}}</span>
                                </span>
                                <span class="text">Average Attempts: <b>{{d.averageAttempts}}</b><br />Average Time: <b>{{d.averageTime}}</b></span>
                            </span>
                        </div>
                        <div class="sbt-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="d.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="d.progress+'%'"></div>
                            </div>
                            <div class="avg-score" [style.left]="d.progress+'%'">
                                <div class="triangle"></div>
                                <div class="line"></div>
                                <div class="avg-score-tip">{{d.progress}}</div>
                            </div>
                            <div class="threshold" [style.left]="d.threshold+'%'">
                                <div class="threshold-text">
                                    {{d.threshold}}
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="legend">
                    <span>
                        <div class="threshold">
                            <div class="line">
                            </div>
                        </div>
                        - Pass Threshold
                    </span>
                    <span>
                        <div class="avg-score">
                            <div class="triangle">
                            </div>
                            <div class="line">
                            </div>
                        </div>
                        - Average Score
                    </span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="errorOccurred">
            <gl-data-error errorText="Data Error - Unable to show score by type" *ngIf="errorOccurred"></gl-data-error>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <gl-loading></gl-loading>
</ng-container>


