@import "../../../../../assets/style/colors.less";
@import "../../../../../assets/style/screen-size.less";

.sbt {
    font-size: 12px;

    @media(max-width:@screen-sm-max) {
        max-width: 420px;
        margin: 40px auto 0;
    }

    .sbt-container {
        margin: 20px auto;

        .sbt-category {
            display: inline-block;
            margin-bottom: 10px;
            position: relative;

            .sbt-label {
                font-size: 1.25em;

                &:hover {
                    cursor: pointer;
                }
            }

            &.color-blue {
                .sbt-table, .card-label {
                    background-color: #47C0DC;
                }

                .sbt-table:hover {
                    background-color: #3CA2BA;
                }
            }

            &.color-green {
                .sbt-table, .card-label {
                    background-color: #4AB85F;
                }

                .sbt-table:hover {
                    background-color: #288936;
                }
            }

            &.color-yellow {
                .sbt-table, .card-label {
                    background-color: #F0AD4E;
                }

                .sbt-table:hover {
                    background-color: #E08A0C;
                }
            }

            &.color-red {
                .sbt-table, .card-label {
                    background-color: #D9534F;
                }

                .sbt-table:hover {
                    background-color: #C22520;
                }
            }

            .sbt-table {
                display: table;
                float: left;
                width: 40px;
                height: 35px;
                background-color: #809DB8;
                color: #fff;

                .sbt-label {
                    vertical-align: middle;
                    height: 100%;
                    display: table-cell;
                }
            }

            .sbt-progress {
                display: block;
                width: 150px;
                float: left;
                margin: 8px 12px 9px 12px;
                position: relative;

                .progress {
                    height: 18px;
                    border-radius: 0;
                    background-color: rgba(53,92,131,0.1);
                    box-shadow: none;
                    margin: 0;

                    .progress-bar {
                        background-color: #809DB8;
                    }
                }

                .avg-score {
                    position: absolute;
                    top: -11px;

                    .triangle {
                        width: 0;
                        height: 0;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        border-top: 6px solid rgba(74,74,74,0.9);
                        position: relative;
                        left: -2px;
                        top: 1px;
                    }

                    .line {
                        width: 1px;
                        border: 1px solid rgba(74,74,74,0.5);
                        height: 23px;
                    }

                    &:hover .avg-score-tip {
                        display: block;
                    }

                    .avg-score-tip {
                        background: rgba(88,88,88,0.83);
                        color: #eee;
                        display: none;
                        font-size: 14px;
                        left: -10px;
                        padding: 5px;
                        position: absolute;
                        text-align: center;
                        top: -27px;
                        z-index: 10;
                        font-size: 9px;
                        border-radius: 5px;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: rgba(88,88,88,0.83) transparent transparent transparent;
                        }
                    }
                }

                .threshold {
                    position: absolute;
                    top: -20px;

                    .threshold-text {
                        position: relative;
                        left: -4px;
                        top: 0;
                        font-size: 0.9em;
                        color: @title-color;
                    }

                    .line {
                        width: 1px;
                        border: 1px solid rgba(74,74,74,0.3);
                        height: 23px;
                    }
                }
            }
        }

        .legend {
            span {
                position: relative;
                margin: 0 10px;
                font-size: 0.9em;

                .avg-score {
                    position: absolute;
                    top: 0px;
                    left: -5px;

                    .triangle {
                        width: 0;
                        height: 0;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        border-top: 6px solid rgba(74,74,74,0.9);
                        position: relative;
                        left: -2px;
                        top: 1px;
                    }

                    .line {
                        width: 1px;
                        border: 1px solid rgba(74,74,74,0.75);
                        height: 6px;
                    }
                }

                .threshold {
                    position: absolute;
                    top: 0;
                    left: -5px;

                    .line {
                        width: 1px;
                        border: 1px solid rgba(74,74,74,0.75);
                        height: 12px;
                    }
                }
            }
        }
    }
}

.card-popup {
    display: inline-block;
    float: left;

    &:hover .popup-text {
        visibility: visible;
    }

    .popup-text {
        visibility: hidden;
        width: 128px;
        background-color: #fff;
        color: @text-color;
        text-align: center;
        border-radius: 3px;
        position: absolute;
        z-index: 1;
        top: -80px;
        left: 35px;
        margin-left: -79px;
        font-size: 11px;
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.05);
        border: 1px solid #EBEBEB;
        font-weight: 500;

        .card-label {
            height: 22px;
            color: #fff;
            border-radius: 4px 4px 0 0;
            display: block;

            .name {
                font-size: 11px;
                line-height: 20px;
            }

            span {
                padding: 2px 5px 0 0;

                i.icon {
                    font-size: 8px;
                }
            }
        }

        .text {
            font-size: 9px;
            padding: 10px;
            display: block;
        }

        &:before, &:after {
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:before {
            border-color: rgba(235,235,235,0);
            border-width: 11px;
        }

        &:after {
            border-color: rgba(255,255,255,0);
            border-width: 9px;
        }

        &.tipArrow-bottom {
            &::after, &::before {
                top: 100%;
                left: 50%;
            }

            &::after {
                border-top-color: #ffffff;
                margin-left: -9px;
            }

            &::before {
                border-top-color: #EBEBEB;
                margin-left: -11px;
            }
        }
    }
}
