<gl-tour [tourSteps]="tourSteps" #myTour (tourStatusChange)="tourStatusChange($event)"></gl-tour>
<div class="container dashboard" id="guideMe">
    <span class="pull-right link-group">
        <span class="guide">
            <a class="btn btn-default" (click)="tourAgain()">
                <span class="size-16">
                    <i class="icon ion-ios-body"></i>
                </span>
                Guide Me
            </a>
        </span>
    </span>
</div>
<div class="container controls-container" *ngIf="isAdmin">
    <div class="controls clearfix">
        <div class="select-control col-md-8">
            <span><b>Admin controls</b></span>
            <select [ngModel]="adminSearch.campus" (ngModelChange)="onCampusChange($event)" [disabled]="adminSearch.onlyMyStudent">
                <option value="">All Campuses</option>
                <option *ngFor="let c of campusTeacherList" [ngValue]="c">{{c.campusName}}</option>
            </select>
            <select [ngModel]="adminSearch.teacher" (ngModelChange)="onTeacherChange($event)" [disabled]="adminSearch.onlyMyStudent">
                <option value="">All Teachers</option>
                <option *ngFor="let t of teacherList" [ngValue]="t">{{t.teacherName}}</option>
            </select>
        </div>
        <div class="switch-control col-md-4">
            <span><b>Show My Students Only</b></span>
            <span>off</span>
            <label class="switch">
                <input type="checkbox" [(ngModel)]="adminSearch.onlyMyStudent" (change)="toggleMyStudents()">
                <div class="slider round"></div>
            </label>
            <span>on</span>
        </div>
    </div>
</div>
<div class="container dashboard" id="tourStep1">
    <div class="container dashboard" id="forPDFCanvas">
        <div class="col-sm-12 col-md-6 col-lg-6" id="tourStep2">
            <gl-assignment-completion></gl-assignment-completion>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6" id="tourStep3">
            <gl-score></gl-score>
        </div>
    </div>
    <div class="col-sm-12">
        <gl-student-breakdown [activeTour]="tourStatus"></gl-student-breakdown>
    </div>
    <div class="col-sm-12">
        <gl-last-refresh></gl-last-refresh>
    </div>
</div>
<div *ngIf="showDetails" class="container overlay">
    <gl-student-detail [studentId]="studentId" [courseName]="courseName" [isAdmin]="isAdmin" [teacherName]="teacherName" [teacherId]="studentTeacherId"></gl-student-detail>
</div>