@import "../../../assets/style/colors.less";
@import "../../../assets/style/screen-size.less";

.controls-container{
    margin-top: 50px;
    .controls{
        background-color: #f8f8f8;
        margin-left: 30px;
        padding: 15px 30px;
        position: relative;
        .select-control{
            display: inline-block;
            span,select{
                margin: 0 10px;
            }
            select{
                padding: 5px 10px;
                min-width: 150px;
                height: 28px;
            }
        }
        .switch-control{
            @media(min-width:@screen-md-max){
                position: absolute;
                top: 8px;
                right: 15px;
                text-align: center;
            }
            span{
                margin: 0 5px;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 35px;
                height: 20px;
                top: 12px;
                input {
                    display:none;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                    &:before {
                        position: absolute;
                        content: "";
                        height: 13px;
                        width: 13px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                    &.round {
                        border-radius: 34px;
                    }
                    &.round:before {
                        border-radius: 50%;
                    }
                }
                input:checked + .slider {
                    background-color: #2196F3;
                }
                input:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
                input:checked + .slider:before {
                    -webkit-transform: translateX(16px);
                    -ms-transform: translateX(16px);
                    transform: translateX(16px);
                }
            }
        }
    }
}
.dashboard {
    margin-top: 20px;

    .guide .btn {
        color: @button-color;
        font-family: Helvetica;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        height: 25px;
        margin-right: 6px;
        background-color: @button-background;
        border-radius: 1px;
        border: 1px solid @detail-button-border;
        margin-bottom: -20px;
        padding-top: 4px;

        i.icon.ion-ios-body {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: @overlay-background;
}
