@import "../../../../../assets/style/colors.less";

.donut-chart {
    width: 100%;
    height: 330px;
    padding: 0;
    max-width: 540px;
    margin: 0 auto;

    g.arc path:hover,
    g.legend rect {
        cursor: pointer;
    }

    text {
        fill: @text-color;
    }
}

.tool {
    background: @toolTip-background;
    box-shadow: 0 0 5px @text-color;
    color: @primary-color-inverted;
    display: none;
    font-size: 14px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 100px;
    z-index: 10;
}
