<div class="error-table">
    <div class="error-cell">
        <div class="error-icon">
            <span class="size-64">
                <i class="icon ion-flash-off"></i>
            </span>
        </div>
        <div class="error-msg">
            <span>{{errorText}}</span>
        </div>
    </div>
</div>