@import "../../../../../assets/style/colors.less";

.error-table {
    width: 100%;
    display: table;
    height: 330px;

    .error-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .error-msg {
            display: inline-block;
            width: 155px;
            color: @error-msg-color;
            font-size: 12px;
            line-height: 14px;
        }
    }
}
