<gl-tour [tourSteps]="tourSteps" #myTour2></gl-tour>
<div class="student-detail clearfix" id="tourStep9">
    <div class="detail-bar clearfix">
        <span class="pull-left student-info">
            <span>Student Details: <b>{{studentDetails.firstName}} {{studentDetails.lastName}}</b></span>
            <span *ngIf="isAdmin">Teacher Details: <b>{{teacherName}}</b></span>
        </span>
        <span class="pull-right link-group">
            <span class="view-gradebook" id="tourStep13">
                <a class="btn btn-default">
                    View Gradebook
                </a>
            </span>
            <span class="export" id="tourStep14">
                <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="size-16"><i class="icon ion-archive"></i></span>Export</a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);" (click)="pdfDownload()">PDF</a></li>
                    <li><a href="javascript:void(0);" (click)="getCSV()">CSV</a></li>
                </ul>
            </span>
            <span class="guide">
                <a class="btn btn-default" (click)="tourAgain()">
                    <span class="size-16"><i class="icon ion-ios-body"></i></span>
                    Guide Me
                </a>
            </span>
            <span id="tourStep15"><span class="size-10" (click)="close()"><i class="icon ion-close"></i></span></span>
        </span>
    </div>
    <div *ngIf="multipleSubjects" class="detail-container" id="tourStep10">
        <div class="col-sm-12 col-lg-3 subject-list">
            <ul>
                <li *ngFor="let subject of subjects" [class.selected]="subject === activeSubject" (click)="selectSubject(subject.id, subject)">
                    <span *ngIf="subject.overdueCount > 4" class="alert-tooltip">
                        <span class="size-12"><i class="icon ion-alert-circled icon-red"></i></span>
                        <span class="info-text tipArrow-top">Student at risk with 5+ overdue assignments.</span>
                    </span>
                    <a href="#">{{subject.courseName}}</a>
                </li>
            </ul>
        </div>
        <div class="score-container col-sm-12 col-lg-9">
            <div class="col-sm-12">
                <gl-student-scoring [studentId]="studentId" [subjectId]="selectedSubject" [teacherId]="teacherId"
                                    [currentScore]="currentScore" [relativeScore]="relativeScore" [isLoading]="isLoading" [errorOccurred]="errorOccurred"></gl-student-scoring>
            </div>
            <div class="time-container col-sm-12 col-md-6">
                <gl-student-time [studentId]="studentId" [subjectId]="selectedSubject" [teacherId]="teacherId"></gl-student-time>
            </div>
            <div class="progress-container col-sm-12 col-md-6">
                <gl-student-progress [studentId]="studentId" [subjectId]="selectedSubject" [progress]="progress"
                                     [overdue]="overdue" [courseEndDate]="courseEndDate" [totalAssignment]="totalAssignment" [teacherId]="teacherId"
                                     [totalAssignmentCompleted]="totalAssignmentCompleted" [isLoading]="isLoading" [errorOccurred]="errorOccurred"></gl-student-progress>
            </div>
        </div>
    </div>
    <div *ngIf="!multipleSubjects" class="detail-container">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <gl-student-scoring [studentId]="studentId" [subjectId]="selectedSubject" [teacherId]="teacherId"
                                    [currentScore]="currentScore" [relativeScore]="relativeScore" [isLoading]="isLoading" [errorOccurred]="errorOccurred"></gl-student-scoring>
            </div>
            <div class="time-container col-sm-12 col-md-6">
                <gl-student-time [studentId]="studentId" [subjectId]="selectedSubject" [teacherId]="teacherId"></gl-student-time>
            </div>
            <div class="progress-container col-sm-12 col-md-6">
                <gl-student-progress [studentId]="studentId" [subjectId]="selectedSubject" [progress]="progress" [teacherId]="teacherId"
                                     [overdue]="overdue" [courseEndDate]="courseEndDate" [totalAssignment]="totalAssignment"
                                     [totalAssignmentCompleted]="totalAssignmentCompleted" [isLoading]="isLoading" [errorOccurred]="errorOccurred"></gl-student-progress>
            </div>
        </div>
    </div>
</div>