@import "../../../assets/style/colors.less";
@import "../../../assets/style/screen-size.less";

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {  
    background-color: @button-hover-color;
}

.student-detail {
    border: 0.65px solid @popup-border-color;
    background-color: @detail-background;
    padding-bottom: 50px;
    margin: 50px auto;
    max-width: 1140px;

    .detail-bar {
        border: 0.65px solid @detail-bar-border;
        background-color: @detail-header-background;
        padding: 10px 20px;
        margin-bottom: 50px;

        .student-info {
            color: @title-color;
            font-family: Helvetica;
            font-size: 12px;
            line-height: 16px;
            padding: 4px;
        }

        .link-group {
            position: relative;
        }

        .view-gradebook .btn,
        .export .btn,
        .guide .btn {
            color: @button-color;
            font-family: Helvetica;
            font-size: 10px;
            font-weight: bold;
            line-height: 12px;
            height: 25px;
            margin-right: 6px;
            background-color: @button-background;
            border-radius: 1px;
            border: 1px solid @detail-button-border;
        }

        .export .btn,
        .guide .btn {
            padding-top: 4px;
        }

        i.icon.ion-archive,
        i.icon.ion-ios-body {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        i.icon.ion-close {
            margin: 0 10px 0 20px;
            cursor: pointer;
        }
    }

    .detail-container {
        .subject-list {
            ul {
                list-style-type: none;
                padding-left: 20px;

                @media(max-width:@screen-md-max) {
                    padding-left: 40px;
                }

                li {
                    position: relative;
                    font-size: 12px;
                    margin-bottom: 10px;

                    .alert-tooltip {
                        position: absolute;
                        left: -20px;
                    }

                    @media(max-width:@screen-md-max) {
                        display: inline;
                        margin: 0 10px 10px;
                    }

                    a {
                        color: @button-color;

                        &:hover, &:visited, &:active, &:focus {
                            text-decoration: none;
                        }
                    }

                    &.selected a {
                        font-weight: bold;
                        color: @title-color;
                    }
                }
            }
        }
    }

    .score-container,
    .time-container,
    .progress-container {
        margin-bottom: 10px;
    }

    @media(min-width:@screen-md) {
        .time-container {
            padding-right: 5px;
        }

        .progress-container {
            padding-left: 5px;
        }
    }
}
