<h4 class="text-center">
    Assignment Completion
    <span class="info-tooltip" (click)="void(0)">
        <span class="size-18"><i class="icon ion-ios-information"></i></span>
        <span class="info-text tipArrow-top">Data is displayed as per student/ per course for overdue assignments</span>
    </span>
</h4>
<ng-container *ngIf="!isLoading">
    <ng-container *ngIf="!errorOccurred">
        <gl-pie-chart *ngIf="assignmentCompletion && assignmentCompletion.length > 0" [data]="assignmentCompletion"></gl-pie-chart>
        <span *ngIf="!assignmentCompletion || assignmentCompletion.length === 0">No records!</span>
    </ng-container>
    <ng-container *ngIf="errorOccurred">
        <gl-data-error errorText="Data Error - Unable to show statistics for this data chart" *ngIf="errorOccurred"></gl-data-error>
    </ng-container>
</ng-container>
<ng-container *ngIf="isLoading">
    <gl-loading></gl-loading>
</ng-container>