@import "../../../../../assets/style/colors.less";

.time {
    min-height: 330px;
    background-color: @primary-color-inverted;
    box-shadow: 1px 1px 3px 0 @box-shadow;
    padding: 15px 25px;
    color: @title-color;

    .last-info,
    .logged-in-time {
        border-bottom: 1px solid @scoring-bottom-border;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .last-info {
        span {
            font-size: 11px;
        }

        span:first-child {
            font-size: 13px;
            font-weight: bold;
        }
    }

    .logged-in-time,
    .time-on-task {
        text-align: center;

        .intro,
        .box {
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px;
        }

        .intro {
            font-size: 12px;

            i.ion-ios-information {
                color: @info-icon-color;
            }
        }

        .box-title {
            font-size: 11px;
            font-weight: bold;
        }

        .light-box,
        .dark-box {
            display: inline-block;

            .box-value {
                height: 50px;
                width: 50px;
                border: 1px solid @time-box-border;
                border-radius: 2px;
                padding: 14px;
                line-height: 22px;
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0;
            }

            .box-name {
                font-size: 10px;
                color: @text-color;
            }
        }

        .light-box .box-value {
            background-color: @primary-color-inverted;
            color: @time-box-text-color;
        }

        .dark-box .box-value {
            background-color: @time-box-background;
            color: @primary-color-inverted;
        }
    }
}
