<ng-container *ngIf="!isLoading">
    <div class="time">
        <ng-container *ngIf="!errorOccurred">
            <div class="last-info clearfix">
                <span class="pull-left">Time</span>
                <span class="pull-right text-right">
                    <div><b>Last Assignment Completed:</b>  {{data.lastAssignmentCompleted}}</div>
                    <div><b>Last Logged In:</b> {{data.lastLoggedIn}}</div>
                </span>
            </div>
            <div class="logged-in-time">
                <div class="intro">
                    <span>Logged-In Time</span>
                    <div class="info-tooltip" (click)="void(0)">
                        <span class="size-12"><i class="icon ion-ios-information"></i></span>
                        <span class="info-text tipArrow-top">Total time the student has been logged-in.</span>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title">Total</div>
                    <div class="light-box">
                        <div class="box-value">{{data.loggedInHrs}}</div>
                        <div class="box-name">Hours</div>
                    </div>
                    <div class="light-box">
                        <div class="box-value">{{data.loggedInMin}}</div>
                        <div class="box-name">Minutes</div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title">Last 7 Days</div>
                    <div class="dark-box">
                        <div class="box-value">{{data.lastWeekLoggedInHrs}}</div>
                        <div class="box-name">Hours</div>
                    </div>
                    <div class="dark-box">
                        <div class="box-value">{{data.lastWeekLoggedInMin}}</div>
                        <div class="box-name">Minutes</div>
                    </div>
                </div>

            </div>
            <div class="time-on-task">
                <div class="intro">
                    <span>Time on Task</span>
                    <div class="info-tooltip" (click)="void(0)">
                        <span class="size-12"><i class="icon ion-ios-information"></i></span>
                        <span class="info-text tipArrow-top">Total time a student has spent within an assignment in the course.</span>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title">Total</div>
                    <div class="light-box">
                        <div class="box-value">{{data.timeOnTaskInHrs}}</div>
                        <div class="box-name">Hours</div>
                    </div>
                    <div class="light-box">
                        <div class="box-value">{{data.timeOnTaskInMin}}</div>
                        <div class="box-name">Minutes</div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-title">Last 7 Days</div>
                    <div class="dark-box">
                        <div class="box-value">{{data.lastWeekTimeOnTaskInHrs}}</div>
                        <div class="box-name">Hours</div>
                    </div>
                    <div class="dark-box">
                        <div class="box-value">{{data.lastWeekTimeOnTaskInMin}}</div>
                        <div class="box-name">Minutes</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="errorOccurred">
            <gl-data-error errorText="Data Error - Unable to show time information" *ngIf="errorOccurred"></gl-data-error>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <gl-loading></gl-loading>
</ng-container>
