/* You can add global styles to this file, and also import other style files */
@import "/assets/style/colors.less";

body{
    color: @base;
    font-family: Helvetica, Arial, sans-serif;
}


/* tooltip styling */

.info-tooltip,
.alert-tooltip {
    position: relative;
    display: inline-block;
    &:hover .info-text {
        visibility: visible;
    }
    .info-text {
        visibility: hidden;
        width: 160px;
        background-color: @white;
        color: @base;
        text-align: center;
        border-radius: 3px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: -79px;
        font-size: 11px;
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.05);
        border: 1px solid darken(@white, 8%);
        font-weight: 500;
        &::after,
        &::before{
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &::after{
            border-color: fade(@black,0);
	        border-width: 9px;
        }
        &::before{
            border-color: fade(@black,0);
	        border-width: 11px;
        }
        &.tipArrow-top{
            &::after,
            &::before{
                bottom: 100%;
                left: 50%;
            }
            &::after{
                border-bottom-color: @white;
                margin-left: -9px;
            }
            &::before{
                border-bottom-color: darken(@white, 8%);
                margin-left: -11px;
            }
        }
        &.tipArrow-left{
            &::after,
            &::before{
                right: 100%;
                top: 50%;
            }
            &::after{
                border-right-color: @white;
                margin-top: -9px;
            }
            &::before{
                border-right-color: darken(@white, 8%);
                margin-top: -11px;
            }
        }
        &.tipArrow-right{
            &::after,
            &::before{
                left: 100%;
                top: 50%;
            }
            &::after{
                border-left-color: @white;
                margin-top: -9px;
            }
            &::before{
                border-left-color: darken(@white, 8%);
                margin-top: -11px;
            }
        }
        &.tipArrow-bottom{
            &::after,
            &::before{
                top: 100%;
                left: 50%;
            }
            &::after{
                border-top-color: @white;
                margin-left: -9px;
            }
            &::before{
                border-top-color: darken(@white, 8%);
                margin-left: -11px;
            }
        }
    }
}

// helper classes

.size-10 { font-size: 10px; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-32 { font-size: 32px; }
.size-48 { font-size: 48px; }
.size-64 { font-size: 64px; }
.size-96 { font-size: 96px; }

.icon-red{
  color:#cc3934;
}


// Loader
.loading-app {
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.loader-wrapper{
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 235px;
    height: 100px;
    .loader {
        width: 69px;
        height: 69px;
        border-radius: 100%;
        position: relative;
        margin: 0 auto;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 6px solid transparent;
            border-top-color: @loading-main-color;
        }
        &:before {
            z-index: 100;
            animation: spin 1s infinite;
        }
        &:after {
            border: 6px solid @loading-background-color;
        }
    }
    .loader-text{
        padding: 10px;
    }
        
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
