@import "../../../../../assets/style/colors.less";

h4 {
    padding: 10px;
    border-bottom: 1px solid @title-border-color;
    color: @title-color;
    font-size: 20px;
    font-weight: bold;

    span.info-tooltip {
        color: @info-icon-color;
    }
}
