<h4 class="text-center">
    Current Score
    <span class="info-tooltip" (click)="void(0)">
        <span class="size-18"><i class="icon ion-ios-information"></i></span>
        <span class="info-text tipArrow-top">The student’s score based on all assignments that have been graded for the course to date.</span>
    </span>
</h4>
<ng-container *ngIf="!isLoading">
    <ng-container *ngIf="!errorOccurred">
        <gl-bar-graph *ngIf="currentScore" [data]="currentScore"></gl-bar-graph>
    </ng-container>
    <ng-container *ngIf="errorOccurred">
        <gl-data-error errorText="Data Error - Unable to show statistics for this data chart" *ngIf="errorOccurred"></gl-data-error>
    </ng-container>
</ng-container>
<ng-container *ngIf="isLoading">
    <gl-loading></gl-loading>
</ng-container>